[Desktop Entry]
Version=1.0
Type=Application

Name=Neothesia
Comment=Midi visualizer
Categories=Game;Music;
Icon=com.github.polymeilex.piano_waterfall

Exec=piano_waterfall
Terminal=false
StartupNotify=false