[Desktop Entry]
Version=1.0
Type=Application

Name=Piano Waterfall
Comment=Midi visualizer
Categories=Game;Music;
Icon=com.github.captainerd.piano_waterfall

Exec=piano-waterfall
Terminal=false
StartupNotify=false